<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.archetype.archetyperestjava.mapper.DeleteMeMapper">

    <resultMap id="lista" type="com.archetype.archetyperestjava.model.DeleteMe">
        <result column="id" property="id"></result>
        <result column="nome" property="nome"></result>
    </resultMap>

    <select id="testeList" resultMap="lista">
        select id as id, nome as nome from teste;
    </select>
</mapper>